.ExpenseTracker{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ExpenseTracker .Title p{
    margin-bottom:1em;
}

.ExpenseTracker .Title{
    margin: 1em;
}

.ExpenseTracker button{
    background-color: black;
    color:white;
    padding:0 0.1em ;
    font-size: 1em;
    margin-left: 0.4em;
    height: 4.6vh;
    
}

.ExpenseTracker input{
 height: 4vh;
}

 h1{
  display: flex;
  justify-content: center;
  margin: 1em ;
}

@media (max-width:465px) {
    .ExpenseTracker .ExpenseTrackerList input{
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
      
    }
}